th, td      { vertical-align: top; text-align: right; font-size:large; }
#converted  { color: red; font-weight: bold; font-size:large;          }
input       { text-align: right;  border: none; font-size:large;       }
body
{
 /*background-color:#b0c4de;  /* blue */
 background-color:#B1C1D1;  /* blue */
 font-size:large;
}